.row {
  color: #fff;

  h2 {
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 20px 0px;
    margin-left: 20px;
  }

  .row__btn__container {
    position: relative;
  }

  .row__posters {
    scroll-behavior: smooth;
    background-color: rgb(24, 23, 23);
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 10px 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .empty__list {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

    span {
      margin: 50px 0px;
    }
  }

  .row__btn__container {
    &:hover {
      .row__scrollBtn {
        display: flex;
      }
    }
  }

  .row__scrollBtn {
    background-color: rgba(255, 249, 249, 0.8);
    color: white;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    z-index: 2;
    border: none;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: rgba(129, 126, 126, 0.8);
    }
  }

  .row__scrollBtn--left {
    left: 0;
  }
  .row__scrollBtn--right {
    right: 0;
  }
}

@media screen and (max-width: 420px) {
  .row {
    h2 {
      font-size: 1.2rem;
    }

    .row__btn__container {
      &:hover {
        .row__scrollBtn {
          display: none;
        }
      }
    }
  }
  .row__empty {
    font-size: 13px;
  }
}
