.plansScreen__plan--disabled {
  button {
    background-color: gray !important;

    &:hover {
      cursor: default;
    }
  }
}

.plansScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
  border-bottom: 1px solid #282c2d;

  &:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .plansScreen__plan {
    padding: 20px 5px;
  }
}
