.profileScreen {
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  .profileScreen__body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    max-width: 800px;
    h1 {
      font-size: 60px;
      font-weight: 400;
      border-bottom: 1px solid #282c2d;
      margin-bottom: 20px;
    }
  }

  .profileScreen__info {
    display: flex;

    img {
      height: 100px;
    }
  }

  .profileScreen__details {
    color: #fff;
    margin-left: 25px;
    flex: 1;

    h2 {
      background-color: gray;
      padding: 15px;
      font-size: 15px;
      padding-left: 20px;
    }
  }

  .profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
  }

  .profileScreen__plans {
    margin-top: 20px;
    h3 {
      border-bottom: 1px solid #282c2d;
      padding-bottom: 10px;
    }
  }
}

@media screen and (max-width: 500px) {
  .profileScreen {
    height: 90vh;
    margin-top: 10%;
    .profileScreen__info {
      flex-direction: column;
      align-items: center;
      gap: 20px;

      img {
        height: 80px;
      }
    }

    .profileScreen__details {
      margin-left: 0;
      width: 100%;
    }

    .profileScreen__body {
      h1 {
        font-size: 40px;
      }
    }
  }
}
